/* css styles */
p {
  text-align: justify;
}

.navbar {
  background-color: #094030;
}

.video-placeholder {
  width: 560px;
  height: 315px; 
  border: 2px dashed #888;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  font-style: italic;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
  box-sizing: border-box;
}