/* Text */
p {
  text-align: justify;
}

/* Navigation Bar */
.navbar {
  background-color: #094030;
}

/* ClimeApp-Button */
.climeapp-button {
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  background-color: #094030;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.climeapp-button:hover {
  background-color: #127d5e;
}

/* Button */
.button {
  display: inline-block;
  background-color: lightgrey;
  padding: 5px;
  text-decoration: none;
  border: 2px solid black;
  box-shadow: none;
}

.active-button {
  background-color: #094030;
  color: white;
}

/* Responsive Images */
.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
